# Created by .ignore support plugin (hsz.mobi)
.DS_Store

# project files
.vscode/
.idea/
.github/
out
gen

# modules
node_modules/
*.log

#build
.travis.yml

#dev
.git/
sample/
test/
webpack/
.jshintrc
.jshintignore
.prettierrc
karma.conf.js
tsconfig.json
package-lock.json

#contracts - extend types
contracts/
