# Created by .ignore support plugin (hsz.mobi)
.DS_Store

# project files
.vscode/
.idea/
out
gen

# modules
node_modules/
bower_components/
*.log

#build
.travis.yml

#dev
.git/
sample/
test/
.jshintrc
.jshintignore
karma.conf.js
bower.json
webpack.*.js
package-lock.json
