/* All classes used must begin with "__se__". */

:root, .light, body[color-theme="light"] {
  --se-font-family: Helvetica Neue;
  --se-background-color-editable: 255,255,255;
  --se-table-highlight-background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAARklEQVQ4T2NkoBJgBJnTsPf/f3LNa3BmBJsBN8hdkXSjdt4HOmLUILwBNxpGhNPVaBiRGUaEtWFXgZJpyTUEWR+4GKEGAAAYxVYTTalYKwAAAABJRU5ErkJggg==') repeat;
  --se-table-background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAgMAAAAroGbEAAAACVBMVEUAAIj4+Pjp6ekKlAqjAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfYAR0BKhmnaJzPAAAAG0lEQVQI12NgAAOtVatWMTCohoaGUY+EmIkEAEruEzK2J7tvAAAAAElFTkSuQmCC') repeat;
  --se-primary-color: 255,255,255;
  --se-secondary-color: 0,0,0;
  --se-darken-color: 0,0,0;
  --se-main-accent-1: 204,204,204;
  --se-main-accent-2: 249,249,249;
  --se-font-color: 51,51,51;
  --se-link-color-main: 0,76,255;
  --se-link-color-hover: 0,147,255;
  --se-grey-accent-1: 225,225,225;
  --se-grey-accent-2: 209,209,209;
  --se-grey-accent-3: 193,193,193;
  --se-grey-accent-4: 177,177,177;
  --se-grey-accent-5: 102,102,102;
  --se-grey-accent-6: 153,153,153;
  --se-grey-accent-7: 239,239,239;
  --se-grey-accent-8: 243,243,243;
  --se-grey-accent-9: 158,158,158;
  --se-grey-accent-10: 136,136,136;
  --se-grey-accent-11: 119,119,119;
  --se-grey-accent-12: 85,85,85;
  --se-grey-accent-13:  245,245,245;
  --se-grey-accent-14:  218,218,218;
  --se-grey-accent-15:  250,250,250;
  --se-grey-accent-16:  189,189,189;
  --se-grey-accent-17:  186,186,186;
  --se-grey-accent-18:  25,25,25;
  --se-grey-accent-19:  17,17,17;
  --se-grey-accent-20:  34,34,34;
  --se-grey-accent-21:  229,229,229;
  --se-grey-accent-22:  240,240,240;
  --se-grey-accent-23:  233,233,233;
  --se-grey-accent-24:  214,214,214;
  --se-blue-accent-1: 199,222,255;
  --se-blue-accent-2: 128,189,255;
  --se-blue-accent-3: 63,157,255;
  --se-blue-accent-4: 69,146,255;
  --se-blue-accent-5: 0,136,255;
  --se-blue-accent-6: 27,31,35;
  --se-blue-accent-7: 50,135,255;
  --se-blue-accent-8: 0,119,221;
  --se-blue-accent-9: 12,34,64;
  --se-blue-accent-10: 4,27,57;
  --se-blue-accent-11: 64,125,209;
  --se-blue-accent-12: 235,243,254;
  --se-blue-accent-13:  216,232,254;
  --se-blue-accent-14: 232,247,255;
  --se-red-accent-1: 185,74,72;
  --se-red-accent-2: 242,222,222;
  --se-red-accent-3: 238,211,215;
  --se-red-accent-4: 213,57,255;
  --se-red-accent-5: 255,68,0;
  --se-red-accent-6: 217,83,79;
  --se-green-accent-1: 39,192,34;
}

.dark, body[color-theme="dark"] {
  --se-primary-color: 0,0,0;
  --se-table-highlight-background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAARklEQVQ4T2NkoBJgBJnTsPf/f3LNa3BmBJsBN8hdkXSjdt4HOmLUILwBNxpGhNPVaBiRGUaEtWFXgZJpyTUEWR+4GKEGAAAYxVYTTalYKwAAAABJRU5ErkJggg==') repeat;
  --se-table-background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAR0lEQVQ4T2NkoBJgBJljZmb2n1zzTp06BTYDbpC6ujrJZt28eZNh1CD8wTYaRoST1WgYkRlGhLVhV4GSack1BFkfuBihBgAAelVjE8BnSWYAAAAASUVORK5CYII=') repeat;
  --se-primary-color: 0,0,0;
  --se-secondary-color: 255,255,255;
  --se-darken-color: 255,255,255;
  --se-main-accent-1: 11,11,11;
  --se-main-accent-2: 1,1,1;
  --se-font-color: 204,204,204;
  --se-link-color-main: 0,76,255;
  --se-link-color-hover: 0,147,255;
  --se-grey-accent-1: 30,30,30;
  --se-grey-accent-2: 16,16,16;
  --se-grey-accent-3: 62,62,62;
  --se-grey-accent-4: 78,78,78;
  --se-grey-accent-5: 153,153,153;
  --se-grey-accent-6: 102,102,102;
  --se-grey-accent-7: 16,16,16;
  --se-grey-accent-8: 12,12,12;
  --se-grey-accent-9: 97,97,97;
  --se-grey-accent-10: 119,119,119;
  --se-grey-accent-11: 136,136,136;
  --se-grey-accent-12: 170,170,170;
  --se-grey-accent-13:  10,10,10;
  --se-grey-accent-14:  37,37,37;
  --se-grey-accent-15:  5,5,5;
  --se-grey-accent-16:  66,66,66;
  --se-grey-accent-17:  69,69,69;
  --se-grey-accent-18:  230,230,230;
  --se-grey-accent-19:  238,238,238;
  --se-grey-accent-20:  221,221,221;
  --se-grey-accent-21:  26,26,26;
  --se-grey-accent-22:  15,15,15;
  --se-grey-accent-23:  22,22,22;
  --se-grey-accent-24:  41,41,41;
  --se-blue-accent-1: 30,119,247;
  --se-blue-accent-2: 15,115,252;
  --se-blue-accent-3: 20,129,255;
  --se-blue-accent-4: 15,129,255;
  --se-blue-accent-5: 0,136,255;
  --se-blue-accent-6: 26,36,46;
  --se-blue-accent-7: 2,94,224;
  --se-blue-accent-8: 0,119,221;
  --se-blue-accent-9: 150,177,214;
  --se-blue-accent-10: 190,215,247;
  --se-blue-accent-11: 64,125,209;
  --se-blue-accent-12: 0,21,51;
  --se-blue-accent-13:  0,23,54;
  --se-blue-accent-14: 0,17,26;
  --se-red-accent-1: 185,74,72;
  --se-red-accent-2: 242,222,222;
  --se-red-accent-3: 238,211,215;
  --se-red-accent-4: 213,57,255;
  --se-red-accent-5: 255,68,0;
  --se-red-accent-6: 217,83,79;
  --se-green-accent-1: 39,192,34;
}
