/* used color #000 , #fff , #CCC, #f9f9f9 */
/* font color #333, background color: #fff */
/* grey color #e1e1e1 , #d1d1d1 , #c1c1c1 , #b1b1b1 */
/* blue color #c7deff , #80bdff , #3f9dff , #4592ff */
/* red color #b94a48 , #f2dede , #eed3d7 */

/* suneditor contents */
.sun-editor-editable {
    font-family: Helvetica Neue, sans-serif;
    font-size: 13px;
    line-height: 1.5;
    color: #333;
    text-align: left;
    background-color: #fff;
    word-break: normal;
    word-wrap: break-word;
    padding: 16px;
    margin: 0;
}

.sun-editor-editable * {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/** controllers on tag */
.sun-editor-editable td, .sun-editor-editable th, 
.sun-editor-editable figure, .sun-editor-editable figcaption, .sun-editor-editable img, 
.sun-editor-editable iframe {
    position: relative;
}

.sun-editor-editable img, .sun-editor-editable iframe {
    display: block;
}

/* float */
.sun-editor-editable .float-left {
    float: left;
}
.sun-editor-editable .float-right {
    float: right;
}
.sun-editor-editable .float-center {
    float: center;
}
.sun-editor-editable .float-none {
    float: none;
}

/* a */
.sun-editor-editable a {
    color: #004cff;
    text-decoration: none;
}
.sun-editor-editable a:hover, .sun-editor-editable a:focus {
    cursor: pointer;
    color: #0093ff;
    text-decoration: underline;
}

/* pre */
.sun-editor-editable pre {
    display: block;
    padding: 8px;
    margin: 0 0 10px;
    line-height: 1.45;
    color: #666;
    background-color: #f9f9f9;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    overflow: auto;
}

/* ol, ul */
.sun-editor-editable ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.sun-editor-editable ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.sun-editor-editable li {
    display: list-item;
    text-align: -webkit-match-parent;
    margin-bottom: 5px;
}

/* sub, sup */
.sun-editor-editable sub, .sun-editor-editable sup {
    font-size: 75%;
    line-height: 0;
}
.sun-editor-editable sub {
    vertical-align: sub;
}
.sun-editor-editable sup {
    vertical-align: super;
}

/** format style */
/* p */
.sun-editor-editable p {
    display: block;
    margin: 0 0 10px;
}

/* div */
.sun-editor-editable div {
    display: block;
    margin: 0;
    padding: 0;
}

/* blockquote */
.sun-editor-editable blockquote {
    display: block;
    color: #999;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    border-style: solid;
    border-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 5px;
    border-left-width: 5px;
}
.sun-editor-editable blockquote {
    border-color: #b1b1b1;
}
.sun-editor-editable blockquote blockquote {
    border-color: #c1c1c1;
}
.sun-editor-editable blockquote blockquote blockquote {
    border-color: #d1d1d1;
}
.sun-editor-editable blockquote blockquote blockquote blockquote {
    border-color: #e1e1e1;
}

/* h1 */
.sun-editor-editable h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
/* h2 */
.sun-editor-editable h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
/* h3 */
.sun-editor-editable h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
/* h4 */
.sun-editor-editable h4 {
    display: block;
    font-size: 1em;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
/* h5 */
.sun-editor-editable h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
/* h6 */
.sun-editor-editable h6 {
    display: block;
    font-size: 0.67em;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

/* hr */
.sun-editor-editable hr {
    display: block;
    border-width: 1px 0 0;
    border-color: black;
    border-image: initial;
    height: 1px;
}
.sun-editor-editable hr.solid {
    border-style: solid none none;
}
.sun-editor-editable hr.dotted {
    border-style: dotted none none;
}
.sun-editor-editable hr.dashed {
    border-style: dashed none none;
}
.sun-editor-editable img.inner-link {
    padding: 1px;
    margin: 1px;
    outline: 1px solid #d1d1d1;
}

/* table */
.sun-editor-editable table {
    display: table;
    table-layout: auto;
    border: 1px solid rgb(204, 204, 204);
    width: 100%;
    max-width: 100%;
    margin: 0 0 10px;
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
}
.sun-editor-editable table th {
    background-color: #e1e1e1;
    border: 1px solid #aaa;
}

.sun-editor-editable table tr {
    border: 1px solid #ccc;
}
.sun-editor-editable table td {
    border: 1px solid #ccc; padding:0.4em;
}

/** component (image, iframe video) */
.sun-editor-editable .sun-editor-id-comp {
    display: flex;
    padding: 1px;
    margin: 0 0 10px;
}
.sun-editor-editable[contenteditable=true] .sun-editor-id-comp {
    outline: 1px dashed #ccc;
}

/** image, video iframe figure cover */
.sun-editor-editable figure.sun-editor-figure-cover {
    display: block;
    outline: none;
    margin: 0;
    padding: 0;
}
.sun-editor-editable figure.sun-editor-figure-cover figcaption {
    padding: 1em .5em;
    margin: 0;
    background-color: #f9f9f9;
    outline: none;
}
.sun-editor-editable figure.sun-editor-figure-cover figcaption p{
    line-height: 2;
    margin: 0;
}

/* image */
.sun-editor-editable .sun-editor-id-image-container a img {
    padding: 1px;
    margin: 1px;
    outline: 1px solid #4592ff;
}

/** video iframe tags */
.sun-editor-editable .sun-editor-id-iframe-container iframe {
    outline: 1px solid #9e9e9e;
}
.sun-editor-editable .sun-editor-id-iframe-inner-resizing-cover {
    display: none;
}
.sun-editor-editable[contenteditable=true] .sun-editor-id-iframe-inner-resizing-cover {
    display: block;
    position:absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: transparent;
}