.sun-editor.se-theme-dark,
.sun-editor-editable.se-theme-dark {
	/** --------- editable - styles --------- */
	--se-edit-font-color: #ccc;
	--se-edit-font-pre: #aaa;
	--se-edit-font-quote: #888;
	--se-edit-background-color: #1e1e1e;
	--se-edit-background-pre: #2a2a2a;
	--se-edit-border-light: #555;
	--se-edit-border-dark: #444;
	--se-edit-border-dark-n1: #555;
	--se-edit-border-dark-n2: #666;
	--se-edit-anchor: #77aaff;
	--se-edit-anchor-on-back: #004cff;
	--se-edit-anchor-on-font: #e8f7ff;
	--se-edit-hr-color: #ccc;
	--se-edit-hr-on-back: #2a2a2a;
	--se-edit-active: #77aaff;
	--se-edit-hover: #5599ff;
	--se-edit-outline: #444;

	/** --------- editor - styles --------- */
	--se-main-out-color: #444;
	--se-main-color: #ccc;
	--se-main-color-lighter: #aaa;
	--se-main-background-color: #1e1e1e;
	--se-main-background-color2: #2a2a2a;
	--se-main-background-color3: #333;
	--se-main-font-color: #ccc;
	--se-main-font-color2: #ddd;
	--se-main-divider-color: #555;
	--se-main-border-color: #666;
	--se-main-outline-color: #444;
	--se-main-shadow-color: #222;
	--se-statusbar-font-color: #aaa;
	--se-overlay-background-color: #111;
	--se-active-color: #77aaff;
	--se-active-dark-color: #5599ff;
	--se-active-dark2-color: #407dd1;
	--se-active-dark3-color: #77aaff;
	--se-active-dark4-color: #5599ff;
	--se-active-dark5-color: #004cff;
	--se-active-light-color: #002244;
	--se-active-light2-color: #003366;
	--se-active-light3-color: #004488;
	--se-active-light4-color: #0055aa;
	--se-active-light5-color: #0066cc;
	--se-active-light6-color: #0077ee;
	--se-drag-over-color: #ffcc00;
	--se-modal-border-color: #555;
	--se-modal-anchor-color: #77aaff;
	--se-modal-preview-color: #aaa;
	--se-modal-input-disabled-color: #666;
	--se-modal-input-disabled-background-color: #333;
	--se-dropdown-font-color: #ccc;
	--se-controller-border-color: #555;
	--se-input-btn-border-color: #444;
	--se-input-btn-disabled-color: #666;
	--se-success-color: #33cc33;
	--se-success-dark-color: #2a7a2a;
	--se-success-dark2-color: #207a20;
	--se-success-dark3-color: #1a661a;
	--se-success-light-color: #00ff00;
	--se-success-light2-color: #00cc00;
	--se-success-light3-color: #009900;
	--se-success-light4-color: #006600;
	--se-success-light5-color: #003300;
	--se-error-color: #ff6666;
	--se-error-dark-color: #b24a48;
	--se-error-dark2-color: #993333;
	--se-error-dark3-color: #662222;
	--se-error-light-color: #ff9999;
	--se-error-light2-color: #ffcccc;
	--se-error-light3-color: #ff3333;
	--se-error-light4-color: #ff0000;
	--se-error-light5-color: #cc0000;
	--se-doc-background: #2a2a2a;
	--se-doc-info-font-color: #ccc;
	--se-doc-info-page-background-color: #444;
	--se-doc-info-active-color: #77aaff;
	--se-loading-color: #77aaff;
	--se-show-blocks-color: #5599ff;
	--se-show-blocks-li-color: #d539ff;
	--se-show-blocks-pre-color: #27c022;
}
