.content {
    max-width: 960px;
    margin: 150px auto 0 auto;
}

.back_index {
    background: url("../img/Space-sun-title.jpg") no-repeat;
    background-size: 100% 581px;
    -webkit-background-size: 100% 581px;
}

.back_categorys {
    background: url("../img/Space-sun-slide.jpg") no-repeat;
    background-size: 100% 190px;
    -webkit-background-size: 100% 190px;
}

footer {
    color: #ffebc1 !important;
    bottom: 0;
    margin-top: 50px;
}

h4 {
    color: #f4b124 !important;
}

button {
    margin-bottom: 10px !important;
}

.intro {
    color: #fff !important;
    bottom: 0;
    margin-top: 50px;
}

.intro p {
    font-size: 20px;
}

.github-cat {
    padding: 3px 0 0 0 !important;
    margin: 0 !important;
}

.github-cat:hover, .github-cat:focus {
    opacity: 0.7;
}

@media screen and (max-width: 767px) {
    .github-cat {
        display: none;
    }
}