.content {
    max-width: 1080px;
    margin: 60px auto 0 auto;
}

.back_index {
    background: url("../img/sun_big.jpg") repeat;
    background-size: auto auto;
    background-position: 0 64px;
}

.back_categorys {
    background: url("../img/sun_big.jpg") repeat;
    background-size: auto auto;
    background-position: 0 64px;
}

footer {
    color: #ffebc1 !important;
    bottom: 0;
    margin-top: 50px;
}

h4 {
    color: #f4b124 !important;
}

button {
    margin-bottom: 10px !important;
}

.intro {
    color: #fff !important;
    bottom: 0;
    margin-top: 50px;
}

.intro p {
    font-size: 20px;
}

/** github-cat*/
.github-cat {
     color: #0d2636 !important;
     font-family: initial;
 }

.github-cat::before {
    content: "";
    display: inline-block;
    background-image: url(../img/github_blue.png);
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-size: 22px 22px;
    vertical-align: bottom;
    margin-right: 2px;
}

.github-cat:hover, .github-cat:focus {
    color: #d33f03 !important;
}

.github-cat:hover::before {
    background-image: url(../img/github.png);
}

/** download icon */
.down-icon {
    color: #0d2636 !important;
    font-family: initial;
}

.down-icon::before {
    content: "";
    display: inline-block;
    background-image: url(../img/download_black.png);
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    vertical-align: bottom;
    margin-right: 2px;
}

.down-icon:hover, .down-icon:focus {
    color: #d33f03 !important;
}

.down-icon:hover::before {
    background-image: url(../img/download_white.png);
}

