@charset "UTF-8";

/* suneditor contents */
body.sun-editor-editable {
    font-family: Helvetica Neue, sans-serif;
    font-size: 13px;
    word-break: break-all;
    margin: 20px;
}

/* hr */
.sun-editor-editable hr {
    border-width: 1px 0 0;
    border-color: black;
    border-image: initial;
    height: 1px;
}
.sun-editor-editable hr.solid {
    border-style: solid none none;
}
.sun-editor-editable hr.dotted {
    border-style: dotted none none;
}
.sun-editor-editable hr.dashed {
    border-style: dashed none none;
}
.sun-editor-editable img.inner-link {
    padding: 1px;
    margin: 1px;
    outline: 1px solid #f4b124;
}

/* table */
.sun-editor-editable table {
    table-layout: auto;
    border: 1px solid rgb(204, 204, 204);
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
}
.sun-editor-editable table tr {
    border: 1px solid #ccc;
}
.sun-editor-editable table td {
    border: 1px solid #ccc; padding:8px;
}

/* image */
.sun-editor-editable .sun-editor-id-image-container figcaption {
    padding: 1em .5em;
    font-size: 13px;
    text-align: center;
}
.sun-editor-editable .sun-editor-id-image-container figcaption p{
    line-height: 2;
    margin: 0;
}
.sun-editor-editable .sun-editor-image-cover {
    outline: none;
    line-height: 0;
}
.sun-editor-editable .sun-editor-image-cover > figcaption:not([contenteditable=false]) {
    background-color: #f3f3f3;
}


/** video iframe tags */
.sun-editor-editable .sun-editor-iframe-cover {
    display: inline-block;
    position: relative;
    margin: 0 2px 0 2px;
    line-height: 0;
    padding: 0;
    border: 1px solid #9e9e9e;
}
.sun-editor-editable .sun-editor-iframe-inner-cover {
    position:absolute;
    width:100%;
    height:100%;
    left:0px;
    top:0px;
}

/** show blocks */
.sun-editor-show-block p:not([contenteditable=false]), .sun-editor-show-block div:not([contenteditable=false]), .sun-editor-show-block h1:not([contenteditable=false]), .sun-editor-show-block h2:not([contenteditable=false]), .sun-editor-show-block h3:not([contenteditable=false]), .sun-editor-show-block h4:not([contenteditable=false]), .sun-editor-show-block h5:not([contenteditable=false]), .sun-editor-show-block h6:not([contenteditable=false]) {
    border: 1px dashed #f4b124;
    padding: 10px 8px 8px 8px;
}
.sun-editor-show-block p:not([contenteditable=false]) {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAPAQMAAAAF7dc0AAAABlBMVEWAgID////n1o2sAAAAAnRSTlP/AOW3MEoAAAAaSURBVAjXY/j/gwGCPvxg+F4BQiAGDP1HQQByxxw0gqOzIwAAAABJRU5ErkJggg==') no-repeat;
}
.sun-editor-show-block div:not([contenteditable=false]) {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAPAQMAAAAxlBYoAAAABlBMVEWAgID////n1o2sAAAAAnRSTlP/AOW3MEoAAAAmSURBVAjXY/j//wcDDH+8XsHwDYi/hwNx1A8w/nYLKH4XoQYJAwCXnSgcl2MOPgAAAABJRU5ErkJggg==') no-repeat;
}
.sun-editor-show-block h1:not([contenteditable=false]) {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAPAQMAAAA4f7ZSAAAABlBMVEWAgID////n1o2sAAAAAnRSTlP/AOW3MEoAAAAfSURBVAjXY/j/v4EBhr+9B+LzEPrDeygfhI8j1CBhAEhmJGY4Rf6uAAAAAElFTkSuQmCC') no-repeat;
}
.sun-editor-show-block h2:not([contenteditable=false]) {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAPAQMAAAA4f7ZSAAAABlBMVEWAgID////n1o2sAAAAAnRSTlP/AOW3MEoAAAAmSURBVAjXY/j/v4EBhr+dB+LtQPy9geEDEH97D8T3gbgdoQYJAwA51iPuD2haEAAAAABJRU5ErkJggg==') no-repeat;
}
.sun-editor-show-block h3:not([contenteditable=false]) {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAPAQMAAAA4f7ZSAAAABlBMVEWAgID////n1o2sAAAAAnRSTlP/AOW3MEoAAAAiSURBVAjXY/j/v4EBhr+dB+LtQPy9geHDeQgN5p9HqEHCADeWI+69VG2MAAAAAElFTkSuQmCC') no-repeat;
}
.sun-editor-show-block h4:not([contenteditable=false]) {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAPAQMAAADTSA1RAAAABlBMVEWAgID////n1o2sAAAAAnRSTlP/AOW3MEoAAAAiSURBVAjXY/j//wADDH97DsTXIfjDdiDdDMTfIRhZHRQDAKJOJ6L+K3y7AAAAAElFTkSuQmCC') no-repeat;
}
.sun-editor-show-block h5:not([contenteditable=false]) {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAPAQMAAAA4f7ZSAAAABlBMVEWAgID////n1o2sAAAAAnRSTlP/AOW3MEoAAAAlSURBVAjXY/j/v4EBhr+1A/F+IO5vYPiwHUh/B2IQfR6hBgkDABlWIy5uM+9GAAAAAElFTkSuQmCC') no-repeat;
}
.sun-editor-show-block h6:not([contenteditable=false]) {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAPAQMAAAA4f7ZSAAAABlBMVEWAgID////n1o2sAAAAAnRSTlP/AOW3MEoAAAAiSURBVAjXY/j/v4EBhr+dB+LtQLy/geFDP5S9HSKOrA6KAR9GIza1ptJnAAAAAElFTkSuQmCC') no-repeat;
}
