.sun-editor,
.sun-editor-editable {
	/** --------------------------- content - [typography] ----------- */
	--se-edit-font-size: 13px;
	--se-edit-line-height: 1.5em;

	/** --------------------------- layout - [typography] ----------- */
	/* main */
	--se-main-font-family: Helvetica Neue;
	--se-content-font-family: Helvetica Neue;
	--se-main-font-size: 13px;

	/* codeview, markdown font */
	--se-markdown-font-family: ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Consolas, 'Liberation Mono', monospace;
	--se-codeview-font-family: ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Consolas, 'Liberation Mono', monospace;

	/* button */
	--se-btn-font-size: 12px;

	/* status */
	--se-statusbar-font-size: 10px;

	/* modal */
	--se-modal-title-font-size: 15px;
	--se-modal-input-font-size: 14px;

	/* browser */
	--se-browser-title-font-size: 16px;

	/* controller */
	--se-controller-font-size: 14px;

	/* document type */
	--se-doc-info-font-size: 14px;
	/* document type indent - weight */
	--se-doc-info-inner-line-weight-h1: 700;
	--se-doc-info-inner-line-weight-h2: 500;
	--se-doc-info-inner-line-weight-h3: 400;
	--se-doc-info-inner-line-weight-h4: 300;
	--se-doc-info-inner-line-weight-h5: 300;
	--se-doc-info-inner-line-weight-h6: 300;
}
