.sun-editor button>svg,
.sun-editor .se-svg {
    width: 14px;
    height: 14px;
}

/** se-btn button */
.sun-editor .se-btn {
    width: 32px;
    font-size: 12px;
    line-height: 1.8;
}

.sun-editor .close>svg,
.sun-editor .se-modal .se-close-btn>svg {
    width: 10px;
    height: 10px;
}

/* se-select-btn icon */
.sun-editor .se-btn-select>svg {
    width: 8px;
    height: 8px;
}

/* se-btn-list inner icon */
.sun-editor .se-btn-list>.se-list-icon {
    width: 12px;
    height: 14px;
}

/* se-line-breaker inner icon */
.sun-editor .se-line-breaker>button>svg {
    width: 22px;
    height: 22px;
}

/* modal */
.sun-editor .se-modal .se-modal-inner .se-modal-form input,
.sun-editor .se-modal .se-modal-inner .se-modal-form select {
    height: 32px;
    font-size: 13px;
    line-height: 1.7;
}

.sun-editor .se-modal .se-modal-inner .se-modal-content .se-btn-primary {
    padding: 5px 11px;
}

.sun-editor .se-modal .se-modal-inner .se-modal-footer>div {
    line-height: 1.7;
}

.sun-editor .se-line-breaker-component {
    width: 22px;
    height: 22px;
}

.sun-editor .se-line-breaker>button.se-btn {
    width: 28px;
    height: 28px;
}

.sun-editor .se-modal label,
.sun-editor .se-modal input,
.sun-editor .se-modal button {
    font-size: 14px;
}

.sun-editor .se-modal .se-modal-inner .se-modal-header .se-modal-title {
    font-size: 15px;
}